:root{
    --pr-color : #0073FF; 
}

body {

  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;

  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-style: normal;

  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-style: normal;

  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-style: normal;

  font-family: "Poppins", sans-serif !important;
  font-weight: 800;
  font-style: normal;

  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-style: normal;

}
.button-secundary {
    font-weight: 400;
}
.button-primery {
    font-weight: 700;
    border: none;
    width : 133px;
    height: 40px;
    background-color: var(--pr-color);
    color: #F6F6F6;
    font-size: 16px;
}
.navbar-brand {
    font-weight: 700;
    font-size: 20px;
}
.nav-link {
    font-weight: 400;
    font-size: 16px;
}
.nav-link.active {
    font-weight: 700;
}
.d-inline-flex {
font-weight: 400;
    color: #F6F6F6;
    font-size: 48px;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-small {
        font-size: 1rem;
        font-weight: 400;
    }

    .hero-content {
        padding: 0 20px;
    }
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 3.8rem;
  }

  .hero-small {
    font-size: 1.2rem;
    max-width: 55%;
    font-weight: 400;
  }
}

.form-title {
    font-weight: 400;
    color: #000;
    font-size: 40px;
    margin-bottom: 16px;
}

/* tombol */
.klik-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 129px;
    height: 70px;

    background-color: #0d6efd;
    color: #fff;
    font-size: 24px;
    font-weight: 600;

    border-radius: 12px;
    text-decoration: none;

    transition: all 0.3s ease;
}

.klik-btn:hover {
    background-color: #0b5ed7;
    transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .form-title {
        font-size: 18px;
    }

    .klik-btn {
        width: 110px;
        height: 56px;
        font-size: 18px;
    }
}

body {
  background: #f8f9fa;
  font-family: system-ui, sans-serif;
}

.stat-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

.view-all {
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  color: #0d6efd;
}

.item-card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}

.item-card img {
  height: 150px;
  object-fit: cover;
}

.item-card .card-body {
  font-size: 12px;
}

.item-card h6 {
  font-weight: 700;
}

.item-card.empty {
  background: #ffffff;
  min-height: 230px;
  display: flex;
  align-items: flex-end;
}

.status {
  font-size: 10px;
}

/* UNTUK INVENT ALAT SELAM */

/* DEFAULT (MOBILE) */
.section-title {
  font-size: 20px;
}

.stat-label {
  font-size: 20px;
  font-weight: 700;
}

.stat-value {
  font-size: 20px;
  font-weight: 700;
}

/* TABLET */
@media (min-width: 768px) {
  .section-title {
    font-size: 18px;
  }

  .stat-label {
    font-size: 13px;
  }

  .stat-value {
    font-size: 26px;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .section-title {
    font-size: 40px;
  }

  .stat-label {
    font-size: 25px;
  }

  .stat-value {
    font-size: 30px;
  }
}






.view-all {
  color: #0d6efd;
  cursor: pointer;
}

.view-all:hover {
  text-decoration: underline;
}

.item-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 1s ease;
}

.item-card:hover {
  transform: translateY(-4px);
}





/*SCRIPT ANIMASI VIEW ALAT*/
/* ANIMASI ITEM */
.alat-item {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

/* Kondisi tersembunyi */
.alat-item.d-none {
  opacity: 0;
  transform: translateY(20px);
}

/* Saat muncul (kelas animasi aktif) */
.alat-item.show {
  opacity: 1;
  transform: translateY(0);
}

body {
  background: red !important;
}
